* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-app-color: #145a32;
    /*deep emerald */
    --background-off-white: #f9f9f6;
    --burnt-orange: #d35400;
    --slate-grey: #2c3e50;
}

/* utility classes */
.poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.podkova-font {
    font-family: "Podkova", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.d-lg-block {
    display: block;
}

.d-lg-none {
    display: none;
}

.fw-600 {
    font-weight: 600;
}

.my-lg {
    margin: 50px 0;
}

/* Large Screens  */

/* Banner */
/* Banner */
.banner {
    background-color: #F9F9F6;
    padding: 80px 10px;
    font-family: "Inter", sans-serif;
    text-align: center;
    color: #145a32;
}

.banner-heading {
    font-size: 4vw;
    font-weight: bold;
    white-space: pre-line;
}

.banner-text {
    white-space: pre-line;
}

.cta-btns {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 40px;
    width: 50%;
    margin: auto;
}

.cta-btns a {
    display: block;
    background-color: #145a32;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

.watch-btn {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.watch-btn i {
    display: block;
}

.watch-btn p {
    margin-left: 6px;
}

/* Who We Are */
.who-we-are {
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 20px;

}

.who-we-are h3 {
    text-align: center;
    color: #145a32;
    font-weight: bold;
    text-transform: capitalize;
}

/* .who-we-are p {} */

/* What We Believe */
.what-we-believe {
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 20px;
}

.what-we-believe h3 {
    text-align: center;
    color: #145a32;
    font-weight: bold;
    text-transform: capitalize;
}

/* .what-we-believe p {} */

.what-we-believe p span {
    font-size: 30px;
    font-weight: bold;
    color: #145a32;
    font-family: "Podkova", serif;
}

/* Where We Focus */
.where-we-focus {
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.where-we-focus h3 {
    text-align: center;
    color: #145a32;
    font-weight: bold;
    text-transform: capitalize;
}

.where-we-focus p {
    text-align: center;
    padding: 20px;
}

.business-criteria {
    padding: 10px;
    background-color: #145a32;
    color: white;
    border-radius: 0;
}

.business-criteria h5 {
    color: #145a32;
    font-family: "Poppins", sans-serif;
    text-align: center;

}

.criteria-icon-and-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32%;
    margin: auto;
}

.criteria {
    margin: 20px 0;
    text-align: right;
}

.criteria i {
    display: block;
    font-size: 2vw;
    color: #79EFBC;
}

.criteria h5 {
    color: white;
    font-family: "Poppins", sans-serif;
}

.criteria p {
    display: none;
}

/* Founder Profile */
.founder-profile {
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 20px;
}

.founder-profile h3 {
    font-weight: bold;
    color: #145a32;
}

.founder-profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.founder-profile-container img {
    border-radius: 50%;
    margin: 0;
}

.founder-text {
    padding: 50px;
}

/* .founder-text p {} */

.founder-text a {
    display: inline-block;
    margin-top: 40px;
    background-color: #145a32;
    color: white;
    text-decoration: none;
    padding: 20px 40px;
    font-weight: bold;
    border-radius: 10px;
}

/* <=== RESPONSIVE (Mobile Screens)===> */
@media screen and (max-width: 1000px) {

    /* Utility Classes */
    .d-lg-block {
        display: none;
    }

    .d-lg-none {
        display: block;
    }

    .my-lg{
        margin: 0;
    }

    /* Banner */
    .banner {
        background-color: #F9F9F6;
        padding: 80px 10px;
        font-family: "Inter", sans-serif;
        text-align: center;
        color: #145a32;
    }

    .banner-heading {
        font-size: 8vw;
        font-weight: bold;
        white-space: pre-line;
    }

    .banner-text {
        white-space: pre-line;
    }

    .cta-btns {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        margin-top: 40px;
        width: 100%;
        margin: 0;
    }

    .cta-btns a {
        display: block;
        background-color: #145a32;
        text-decoration: none;
        color: white;
        padding: 10px 20px;
        border-radius: 20px;
    }

    .watch-btn {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .watch-btn i {
        display: block;
    }

    .watch-btn p {
        margin-left: 6px;
    }


    /* company profile card */
    .company-card {
        background-color: #F9F9F6;
        margin: 10px;
        padding: 10px;
        font-family: "Poppins", sans-serif;
    }

    .company-image-container {
        margin-bottom: 30px;
    }

    .company-title {
        font-weight: 700;
    }

    .company-subtitle {
        color: #635F5F;
    }

    .company-site-link {
        color: #D2B26D;
    }

    .company-image {
        width: 250px;
        height: 100px;
    }

    .company-card p {
        margin: 40px 0;
    }

    .ceo-profile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 40px;
    }

    .company-card .ceo-image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    /* Who We Are */
    .who-we-are {
        font-family: "Poppins", sans-serif;
        text-align: center;
        padding: 20px;

    }

    .who-we-are h3 {
        text-align: center;
        color: #145a32;
        font-weight: bold;
        text-transform: capitalize;
    }

    /* .who-we-are p {} */

    /* What We Believe */
    .what-we-believe {
        font-family: "Poppins", sans-serif;
        text-align: center;
        padding: 20px;
    }

    .what-we-believe h3 {
        text-align: center;
        color: #145a32;
        font-weight: bold;
        text-transform: capitalize;
    }

    /* .what-we-believe p {} */

    .what-we-believe p span {
        font-size: 30px;
        font-weight: bold;
        color: #145a32;
        font-family: "Podkova", serif;
    }

    /* Where We Focus */
    .where-we-focus {
        font-family: "Poppins", sans-serif;
        text-align: left;
    }

    .where-we-focus h3 {
        text-align: center;
        color: #145a32;
        font-weight: bold;
        text-transform: capitalize;
    }

    .where-we-focus p {
        text-align: center;
        padding: 20px;
    }

    .business-criteria {
        padding: 30px 10px;
        background-color: #145a32;
        color: white;
        border-radius: 40px;
    }

    .business-criteria h5 {
        color: #145a32;
        font-family: "Poppins", sans-serif;
        text-align: center;

    }

    .criteria-icon-and-text {
        display: block;
        width: 100%;
        margin: 0;
    }

    .criteria {
        margin: 0;
    }

    .criteria i {
        display: block;
        font-size: 20vw;
        color: #79EFBC;
        text-align: center;
    }

    .criteria h5 {
        color: white;
        font-family: "Poppins", sans-serif;
        margin: 10px 0;
        text-align: center;

    }

    .criteria p {
        display: block;
        font-weight: 200;
        font-family: "Poppins", sans-serif;
        text-align: center;
    }

    /* Founder Profile */
    .founder-profile {
        font-family: "Poppins", sans-serif;
        text-align: center;
        padding: 20px;
    }

    .founder-profile h3 {
        font-weight: bold;
        color: #145a32;
    }

    .founder-profile-container {
        display: block;
    }

    .founder-profile-container img {
        border-radius: 50%;
        margin: 100px 0;
    }

    .founder-text {
        margin: 40px 0;
    }

    /* .founder-text p {} */

    .founder-text a {
        display: block;
        margin-top: 40px;
        background-color: #145a32;
        color: white;
        text-decoration: none;
        padding: 20px 40px;
        font-weight: bold;
        border-radius: 10px;
    }
}